<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VoxiLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VoxiLink.VoxityApi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VoxiLink.VoxityApi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <VoxiLink.Properties.Settings/>
    <VoxiLink.VoxityApi>
      <setting name="REFRESH_TOKEN" serializeAs="String">
        <value />
      </setting>
    </VoxiLink.VoxityApi>
</userSettings>
  <applicationSettings>
    <VoxiLink.VoxityApi>
      <setting name="HOST" serializeAs="String">
        <value>YourRedirectHost</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="CLIENT_ID" serializeAs="String">
        <value>XXXXXXXXXXXXXXXXXXXX</value>
      </setting>
      <setting name="CLIENT_SECRET" serializeAs="String">
        <value>XXXXXXXXXXXXXXXXXXXX</value>
      </setting>
    </VoxiLink.VoxityApi>
  </applicationSettings>
</configuration>